POSTGRES_USER=''
POSTGRES_PASSWORD=''
POSTGRES_DB=''
POSTGRES_HOST=''
POSTGRES_PORT=''
PORT=''

JWT_ACCESS_SECRET=''
JWT_REFRESH_SECRET=''

JWT_ACCESS_EXPIRES_IN=''
JWT_REFRESH_EXPIRES_IN=''

FRONTEND_URL=''
MEDIA_URL=''
NODE_ENV=''
STATIC_ASSETS_PATH=''
UPLOAD_DIR=''
MAX_FILE_SIZE=''
ALLOWED_MIME_TYPES=''
AVATAR_SIZE=''
AVATAR_QUALITY=''